# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#
   
on post-fs-data

    write /proc/bootprof "post-fs-data: on modem start"

    # Modem related device nodes
    mkdir /data/nvram/md  0770 root system

#  Build-in Modified - S
#    insmod /system/lib/modules/ccci_plat.ko
#    insmod /system/lib/modules/ccci.ko
#  Build-in Modified - E
#   chown radio radio /sys/class/BOOT/BOOT/boot/md
    chown radio radio /sys/kernel/ccci/boot

#SeLinux
    mkdir /data/ccci_cfg 0770 system radio
    restorecon /data/ccci_cfg
    restorecon_recursive /protect_f
    restorecon_recursive /protect_s
    
    # Encrypt phone function
    setprop vold.post_fs_data_done 1

#
#
#  Modem related services (End)
#